.jumbotron {
  text-align: center;
  font-family: "Comfortaa", cursive;
}

nav ul {
    list-style: none;
    background-color: #4a4a4f;
    opacity: 4;
    text-align: center;
    margin: 0;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
}


#myBtn:hover {
  background-color: #555; 
}
.card {
    float: left;
    width: 20px;
    margin-left: 10%;
}

.img {
    width: 100%;
}

.footer {
    clear: left;
}

 
 
 